/*------- RESET -------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- Utility Components ----------*/

:root {
    font-size: 62,5%;

    /* ---------- Custom Propeties -----------*/

  /* Second Color */
  --second-color: #02bb17;

  /* Third Color */
  --third-color: #003547;

  /* Fourth color */
  --fourth-color: #005e54;

  /*Linear-Gradient*/

  --linear-azul-h: linear-gradient(rgb(14, 44, 55), rgb(57, 104, 122), rgb(35, 94, 128), rgb(111, 135, 147), rgb(22, 152, 212));
}

/* List Items */
li {
    list-style: none;
}

/* Abchor Tags */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

/* All content container => main element */
main {
    background-image: var(--linear-azul-h);
    flex: 1;
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Main Nav Header *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/

header#header {
    background-color: var(--third-color);
    height: calc(3vw + 3vh);
    z-index: 2;
}

nav#header__main-nav {
    height: 100%;
}

ul.header__main-nav--links {
    /* just for demonstration purposes */
    /* background-color: aqua; */
  
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header__main-nav--links li {
    padding-right: 3vw;
}

ul.header__main-nav--links li a {
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: calc(1rem + 0.66667vw);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-image: var(--linear-azul-h);

  transform: scaleX(0);

  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
  top: 0;
  /* Transform origin is center by default */
  transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:1510px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (min-width: 1810px) {
    body {
      display: flex;  
      width: 1510px;
      margin: 0 auto;
    }
}
  
/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:610px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (max-width: 610px) {
    /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Main Nav Header *-*-*-*-**-*-*-*-**-*-*-*-**-*/

    header#header {
        position: absolute;
    }

    nav#header__main-nav {
        width: 30rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: -30rem;
        background-color: var(--third-color);
        text-align: center;
    }

    .clicked {
        left: 55%;
    }

    .header__main-nav--hamburger {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        background-color: var(--fourth-color);
        padding: 1rem;
        border-radius: 50%;
        border: 0.3rem solid var(--third-color);
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 0.3rem;
        background-color: white;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
    }

    ul.header__main-nav--links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    ul.header__main-nav--links li {
        margin-bottom: 4vh;
        margin-left: 6vw;
    }

    .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.6rem, 0.6rem);
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.6rem, -0.6rem);
    }

    ul.header__main-nav--links li {
        opacity: 0;
    }

    ul.header__main-nav--links li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
    }

    ul.header__main-nav--links li:nth-child(2) {
        transition: all 0.5s ease-in-out 0.4s;
    }

    ul.header__main-nav--links li:nth-child(3) {
        transition: all 0.5s ease-in-out 0.6s;
    }

    ul.header__main-nav--links li:nth-child(4) {
        transition: all 0.5s ease-in-out 0.8s;
    }

    ul.header__main-nav--links li:nth-child(5) {
        transition: all 0.5s ease-in-out 1s;
    }

    ul.header__main-nav--links li:nth-child(6) {
        transition: all 0.5s ease-in-out 1.2s;
    }

    ul.header__main-nav--links li.fade {
        opacity: 1;
    }
}    

picture#picture-home {
    display: block;
    justify-content: center;
    align-items: center;
}

.picture-home__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-home__content img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-pos {
    padding: 6em 2em;
}

footer#footer {
    display: flex;
}

.footer__content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    background-color: var(--third-color);
    color: white;
}

.footer__content p {
    display: flex;
    font-size: (1rem + 0.66667vw);
    text-align: center;
}
